{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}



<!-- Background area -->

<div id="parent_div">
    <div id="background" style="background-image:url('../{{event.image}}');"></div>

    <!-- Event area -->
    <div class="d-flex justify-content-center mx-3 noscroll">
        <div class="bg-white col-10 col-xl-8 rounded-2 p-3 my-5" style="overflow-y: scroll;">
                                    <!-- flashes any messages to the user -->
                                    {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                    <!-- check if there are any messages -->
                                    <div class="row mt-3 mb-3">
                                        <div class="col-12">
                                            {% for message in messages %}
                                            <!--loop through the messages-->
                                            <div class="alert alert-success">{{ message }}</div>
                                            <!--display as alert-->
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endwith %}

            <div class="container mx-auto">

                <!-- Row containing event image and information -->
                <div class="events_row row d-flex justify-content-center border-bottom">

                    <!-- Col containing image -->
                    <div class="col-12 col-lg-6 mx-0 px-0">
                        <img class="event_img" src="../{{event.image}}">
                    </div>

                    <!-- Event Information col -->
                    <div
                        class="col-lg-6 d-flex flex-column justify-content-center text-center bg-white border-start border-end border-top">
                        <!-- Title and host row -->
                        <div class="row pt-1">
                            <div class="col-12">
                                <h3 class="display-3">{{event.title}}</h3>
                                <p class="lead"><b>Created by:</b> {{event_owner}}</p>
                            </div>
                        </div>
                        <blockquote class="blockquote">

                            <div class="col-12">
                                <p><b>Date: </b>{{event.startdate}}-{{event.enddate}},<br><b>Time:</b>
                                    {{event.starttime}}-{{event.endtime}}</p>
                            </div>


                            <div class="col-12">
                                <p><b>Location: </b>{{event.address}}, {{event.suburb}}, {{event.city}}</p>
                            </div>

                            <div class="col-12">
                                <p><b>Genre: </b>{{event.type}}</p>
                            </div>

                        </blockquote>
                        <!-- book event button-->
                        <div class="d-grid col-12">
                            <button class="btn btn-outline-success mb-2" type="button" data-bs-toggle="modal"
                                data-bs-target="#bookmodal">Book Event</button>
                        </div>
                    </div>


                </div>

                <!-- description row -->
                <div
                    class="row pt-3 d-flex justify-content-center text-center bg-white border-bottom border-end border-start">

                    <!-- Description col -->
                    <div class="col-lg-12 px-3">
                        <div class="row text-center">
                            <div class="col align-self-center">
                                <h6 class="display-5">{{event.description_header}}</h6>

                                <p class="lead">{{event.description}}</p>

                            </div>
                        </div>
                    </div>
                </div>


                <!-- Comments Section -->
                <!-- THIS IS SLIGHTLY OFF CENTER -->
                <!-- SOME WORK NEEDS TO BE DONE HERE -->
                <!-- DIVISION, FORMATTING OF DATES, ADD IN NICE COMMENT HTML FROM JRS PRIOR WORK -->


                <!-- DYNAMIC ADDITION OF SCROLL ON NO OF COMMENTS > 5 SO PAGE DOESNT GET TOO BIG -->
                <!-- COMMENT SCROLL NEEDS SOME WORK -->

                <div id="comment_container" class="container mt-3 justify-content-center">

                    {% if current_user.is_authenticated %}
                    <div class="row mb-2 ">
                        <div class="col">
                            {{wtf.quick_form(form,"/events/{0}/comment".format(event.id))}}
                            <small id="exampleFormControlTextarea1" class="form-text text-muted">
                                Write about the event (Max 500 words)
                            </small>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col text-center mb-3">
                        <h3>Reviews</h3>
                    </div>
                    {% for comment in event.comments %}
                    <div class="comment_loop">
                        <div class="row m-2">

                            <!-- user box -->
                            <div class="col-xl-3 p-3 ml-2 border text-center">
                                <img src="../../static/images/profile.png" alt="Image not found"
                                    class="rounded-circle prof_pic" />
                                <div class="row mb-1">
                                    <div>
                                        <p class="h5">{{comment.user}}</p>
                                        <h6><small class="form-text text-muted"><i>{{comment.created_at}}
                                                </i></small></h6>
                                    </div>
                                </div>
                            </div>

                            <!-- comment text section -->
                            <div class="col-xl-9 border p-1 d-flex flex-column justify-content-center">
                                <p class="text-center mx-2 word-break">{{comment.text}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>


        </div>



    </div>

</div>



<!-- Ticket Modal -->
<!-- TICKET PRICE MAY ALSO NEED TO BE INCLUDED-->
<div class="modal fade" id="bookmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Book to attend
                    {{event.title}}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <!-- THE OPTIONS HERE NEED TO BE LINKED TO THE EVENTS MAX GUESTS NUMBER -->
                    <div class="col-12">
                            <div class="row mb-3 mr-4 ml-4">
                                {{wtf.quick_form(bform,"/events/{0}/book".format(event.id))}}
                            </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


<!-- End form area -->
</html>

{% endblock %}