{% extends "base.html" %}

{% block content %}

<!-- This page will contain information relating to events that the user has booked -->

<div class="container details_container">
    <div id="content-wrap">
        <div class="row">
            <h2 class="display-4">Account Information</h2>
            <hr class="solid">
        </div>

        <br>
        <div class="row">
            <div class="col 10">

            <h1 class="display-6">User Name: <u>{{current_user.name}}</u>
            </h1>

            <h1 class="display-6">Email Address: <u>{{current_user.emailid}}</u>
            </h1>

            <h1 class="display-6">Contact Number: <u>{{current_user.contact_no}}</u>
            </h1>
        </div>

        </div>


    </div>

</div>
<br>
<br>
<br>






{% endblock %}