{% extends "base.html" %}

{% block content %}

<!-- This page will contain information relating to events that the user has booked -->

<div class="container">

    <div class="row">
        <h2 class="display-4">Account Information</h2>
        <hr class="solid">
    </div>

    <br>
    <div class="row">

        <h1 class="display-6">User Name: <p class="lead"><u>{{current_user.name}}</u></p>
        </h1>

        <h1 class="display-6">Email Address: <p class="lead"><u>{{current_user.emailid}}</u></p>
        </h1>

        <h1 class="display-6">Contact Number: <p class="lead"><u>{{current_user.contact_no}}</u></p>
        </h1>


    </div>




</div>






{% endblock %}