{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}


<!-- Form area -->
{% if heading|lower != "create an event" %}
<div class="container-fluid d-flex flex-column justify-content-center text-center"
    style="height: 100vh; background-image: url('../static/images/party.jpg'); background-size: cover; background-repeat: no-repeat;">
    <div class="row d-flex justify-content-center mx-2">
        <div class="col-sm-7 col-md-6 col-lg-4 rounded-2 pt-3" style="background-color: rgba(255, 255, 255, 0.836);">

            <!-- Alternative row sizing for create form-->
            {% elif heading|lower == "create an event" %}
            <div class="container-fluid d-flex flex-column justify-content-center text-center"
                style="height: 110vh; background-image: url('../static/images/artist.jpg'); background-size: cover; background-repeat: no-repeat;">

                <div class="row d-flex justify-content-center mx-2">
                    <div class="col-10 col-sm-11 col-xl-8 rounded-2 pt-3"
                        style="background-color: rgba(255, 255, 255, 0.836);">
                        {% endif %}
                        <!-- flashes any messages to the user -->
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <!-- check if there are any messages -->
                        <div class="row mt-3 mb-3">
                            <div class="col-12">
                                {% for message in messages %}
                                <!--loop through the messages-->
                                <div class="alert alert-success">{{ message }}</div>
                                <!--display as alert-->
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        {% endwith %}

                        <!-- Form Section -->
                        <div class="col mx-auto">
                            <div class="page-header">
                                <h5>{{heading}}</h5>
                            </div>
                            <!-- If the form is not the create an event form load whatever other form was submitted-->
                            {% if heading|lower != "create an event" %}
                            {{wtf.quick_form(form)}}
                            {% endif %}
                            <!-- When you have login form show the user a link to register & vice versa-->
                            {% if heading|lower == 'login' %}
                            <p>New user? <a href="{{ url_for('auth.register') }}">Click here</a> to register.</p>
                            {% elif heading|lower == 'register form' %}
                            <p>Already a user? <a href="{{ url_for('auth.login') }}">Click here</a> to log in.</p>

                            <!-- Alternative formatting for the larger create form -->
                            {% elif heading|lower == "create an event" %}
                            <form method="POST" action="{{ url_for('event.create') }}" enctype="multipart/form-data">
                                {{form.csrf_token}}

                                <div class="row d-flex justify-content-center mx-auto">
                                    <div class="col-sm-7 col-lg-5 mb-2">
                                        <div class="row mx-auto">
                                            <label for="name">Title</label>
                                            {{form.title(class_="myform")}}
                                        </div>
                                    </div>
                                </div>

                                <div class="row mx-auto d-flex justify-content-center mx-auto">
                                    <div class="col-sm-6 col-md-4 mb-2">
                                        <div class="row mx-auto">
                                            <label for="email">Date</label>
                                            {{form.date(type="date", class_="myform")}}
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mb-2">
                                        <div class="row mx-auto">
                                            <label for="starttime">Start Time</label>
                                            {{form.starttime(type="time", class_="myform")}}
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mb-2">
                                        <div class="row mx-auto">
                                            <label for="endtime">End Time</label>
                                            {{form.endtime(type="time", class_="myform")}}
                                        </div>
                                    </div>
                                </div>

                                <div class="row mx-auto d-flex justify-content-center mx-auto">
                                    <div class="col-sm-6 col-md-5 mb-2">
                                        <div class="row mx-auto">
                                            <label for="address">Address</label>
                                            {{form.address(class_="myform")}}
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-5 mb-2">
                                        <div class="row mx-auto">
                                            <label for="title">Suburb</label>
                                            {{form.suburb(class_="myform")}}
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-2 mb-2">
                                        <div class="row mx-auto">
                                            <label for="city">City</label>
                                            {{form.city(class_="myform")}}
                                        </div>
                                    </div>
                                </div>

                                <div class="row mx-auto d-flex justify-content-center mx-auto">
                                    <div class="col-sm-3 mb-2">
                                        <div class="row mx-auto">
                                            <label for="date">Max Guests</label>
                                            {{form.maxguests(class_="myform")}}
                                        </div>
                                    </div>

                                    <div class="col-sm-4 mb-2">
                                        <div class="row mx-auto">
                                            <label for="type">Genre</label>
                                            {{form.type(class_="myform")}}
                                        </div>
                                    </div>
                                    <div class="col-sm-5 mb-2">
                                        <div class="row mx-auto">
                                            <label for="image">Image</label>
                                            {{form.image}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 mb-2 d-flex mx-auto justify-content-center">
                                    <div class="row mx-auto ">
                                        <label for="description">Description Header</label>
                                        {{form.description_header(class_="myform", style="height: 60px;")}}
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <div class="row mx-auto">
                                        <label for="description">Description</label>
                                        {{form.description(class_="myform", style="height: 120px;")}}
                                    </div>
                                </div>

                                <input class="btn btn-outline-secondary mb-2" type="submit" value="Submit">
                            </form>
                            {% endif %}

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End form area -->





        </html>

        {% endblock %}