{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}


<!-- Form area -->
{% if heading|lower != "create an event" %}
<div class="container-fluid d-flex flex-column justify-content-center text-center"
    style="height: 45rem; background-image: url('../static/images/party.jpg'); background-size: cover; background-repeat: no-repeat;">
    {% elif heading|lower == "create an event" %}
    <div class="container-fluid d-flex flex-column justify-content-center text-center"
        style="height: 70rem; background-image: url('../static/images/artist.jpg'); background-size: cover; background-repeat: no-repeat;">
        {% endif %}
        <div class="row d-flex justify-content-center mx-2">
            <div class="col-lg-6 rounded-2 pt-3" style="background-color: rgba(255, 255, 255, 0.836);">
                <!-- flashes any messages to the user -->
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <!-- check if there are any messages -->
                <div class="row mt-3 mb-3">
                    <div class="col-md-12">
                        {% for message in messages %}
                        <!--loop through the messages-->
                        <div class="alert alert-success">{{ message }}</div>
                        <!--display as alert-->
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% endwith %}


                <div class="col mx-auto">
                    <div class="page-header">
                        <h5>{{heading}}</h5>
                    </div>
                    {{wtf.quick_form(form)}}
                    <!-- When you have login form show the user a link to register & vice versa-->
                    {% if heading|lower == 'login' %}
                    <p>New user? <a href="{{ url_for('auth.register') }}">Click here</a> to register.</p>
                    {% elif heading|lower == 'register form' %}
                    <p>Already a user? <a href="{{ url_for('auth.login') }}">Click here</a> to log in.</p>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End form area -->





</html>

{% endblock %}