/* Combined CSS */

/* Logo css */
.logo{
    height: 50px;
    width: 50px;
  }
  
  /* end logo css */
  
/* Card related CSS */

.card-content{
    align-content: center;
  }

.card-image{
    object-fit: cover;
    width: 85%;
    height: auto;
    min-height: 400px;
}

.card-image:hover{
    transform: scale(1.1);
    opacity: 1.0;
}
  
/* end card css */
  
/* Dropdown menu css */

.drop1
{   
    font-size: 35px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.drop2
{
    font-size: 20px;
}

/* end Dropdown menu css */
