/* Combined CSS */

.main{
    height: 100vh;
}

/* -------------------- */

/* NAVBAR */

/* Logo */
.logo{
    height: 50px;
    width: 50px;
}
  
/* end logo */
  
/* END NAVBAR */

/* -------------------- */


/* Card related CSS */

.card-content{
    align-content: center;
}

.card-image{
    object-fit: cover;
    width: 85%;
    height: auto;
    min-height: 400px;
}

.card-image:hover{
    transform: scale(1.1);
    opacity: 1.0;
}
  
/* end card */
  
/* Dropdown menu */

.drop1
{   
    font-size: 35px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.drop2
{
    font-size: 20px;
}

/* end Dropdown menu */


/* -------------------- */


/* Hide scrollbar */
.noscroll::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


/* -------------------- */

.myform{
    border-radius: 5px;
    border-width: 1px;
}