/* JRs Original CSS */


.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }



.inner{
  overflow: hidden;
}

.inner img{
  transition: all 2s ease;
}

.inner:hover img {
  transform:scale(1.3);
}


.bg-overlay{

    position: absolute;
    bottom:0;
    left:0;
    right:0;
    top:0;
    
    background-position: center;
    background-size: cover;
    opacity: 0.8;

}


.carousel-container{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding-bottom: 30px;
}

.carousel-item {
  height: 35rem;
  background: #777;
  color: white;
}

.jumbotron-heading{
  color:green;
  font-family:serif;
  font-size: 8rem;
}

.jumbotron{
 
  margin-bottom: 5rem;
  border-width: 2;
  border-style:groove;
  padding-bottom: 60px;
  padding-top: 0;
}

.See-more{
    padding-bottom: 20px;
}



.sal {
    width:15rem;
    height: 15rem;
}

.down{

  margin-top: 3rem;
  border-style: solid;
  border-width: 1px;
}

.description{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15;
  max-width: 90rem;
  text-align: center;
}

.nav
{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 35px;
  font-style: italic;
  text-align: center;

}

.band-desc
{
  margin-top: 3rem;
}

.para{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  max-width: 90rem;
  text-align: justify;
  line-height: 50px;

}

.purchase
{
  font-size: 20px;
  font-style: oblique;
  padding-bottom: 3rem;
}


.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;

  }

  .map-container iframe{
    margin-top: 5rem;
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  margin-left: 2rem;
  }

  .maps
  {
    margin-top: 3rem;
    
  }




.create-but
{
  text-align: center;
}

.history-font
{
  font-family: fantasy;
}

