/* Sidds original CSS */

.EnterEventTitle{
  text-align: center;
  align-content: center;
}


.BookingHeading{
  text-align: center;
  color:dimgrey;
}

.iconDetails {
  margin:0 2%;
  float:left;
  max-width: 300px;
  width: auto;
  height: auto;
  max-height: 300px;
}

/* .text {
  display: inline-flex;
  float:right;
} */

.text p {
  width:100%;
  float:right;
  font-size:medium;
}
