/* Sidds original CSS */



img {
  display: block;
  max-width:100%;
  max-height:400px;
  width: auto;
  height: auto;
  opacity: 0.75;
}

.EnterEventTitle{
  text-align: center;
  align-content: center;
}

.generalInfoHeading{
  font-family:Impact;
  color:cornflowerblue;
}

.BookingHeading{
  text-align: center;
  color:dimgrey;
}

.iconDetails {
  margin:0 2%;
  float:left;
  max-width: 300px;
  width: auto;
  height: auto;
  max-height: 300px;
}

.text {
  display: inline-flex;
  float:right;
}

.text p {
  width:100%;
  float:right;
  font-size:medium;
}
